<div class="container-fluid">
    <div class="row">
        <nav class="navbar sticky-top bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid align-items-center">
                <span class=""> Notes App </span>
            </div>
        </nav>
        <div class="col-12 text-editor-div">
            <div class="col-12 pt-1">
                <ul class="nav justify-content-center nav-pills">
                    <li class="nav-item" (mousedown)="makeBold()">
                        <button class="nav-link" aria-current="page">
                            <i class="fa fa-solid fa-bold"></i>
                        </button>
                    </li>
                    <li class="nav-item" (mousedown)="makeItalic()">
                        <button class="nav-link">
                            <i class="fa fa-solid fa-italic"></i>
                        </button>
                    </li>
                </ul>
                <div id="textarea" contenteditable="true" class="p-2 w-100 h-100 border border-dark rounded"
                    style="margin: 5px 5px 5px 5px; height: 99vh !important;"></div>
            </div>
        </div>
    </div>
</div>