nav {
    color: white;
    padding: 0.5rem;
}

textarea {
    padding: 1rem;
    margin: 5px;
}

.text-editor-div {
    width: 99%;
}

.container-full {
    margin-right: 0px;
    margin-left: 0px;
}