<div class="container-full row">
    <nav class="navbar sticky-top bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid align-items-center">
            <span class=""> Notes App </span>
        </div>
    </nav>
    <div class="col-12 text-editor-div">
        <div class="row">
            <div class="col-1"><i class="fa fa-solid fa-bold"></i></div>
            <div class="col-1"><i class="fa fa-solid fa-italic"></i></div>
            <div class="col-1"><i class="fa fa-solid fa-list"></i></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
        </div>
        <div class="col-12">
            <textarea class="w-100 h-100 d-inline-block" rows="15" style="margin: 5px 5px 5px 5px;"></textarea>
        </div>
    </div>